<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center mt-5">
      <h1 class="mb-5"><i class="fas fa-user mr-3"></i>Welcome in CMS {{user?.name}} {{user?.surname}}</h1>
      <h5 class="mb-4">User Profile</h5>
      <ul class="list-group" *ngIf="visibility">
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              First Name:
            </div>
            <div class="col-md-6">
              {{user?.name}}
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Last Name:
            </div>
            <div class="col-md-6">
                {{user?.surname}}
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Email:
            </div>
            <div class="col-md-6">
                {{user?.email}}
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              PESEL:
            </div>
            <div class="col-md-6">
                {{user?.pesel}}
            </div>
          </div>
        </li>
      </ul>
      <button class=" mt-3 btn btn-success" *ngIf="visibility" (click)="showEditForm()">Edit data</button>

      <ul class="list-group" *ngIf="!visibility">
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              First Name:
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="user.name" ngModel (keyup)="onKey($event)" (blur)="setDefault($event)">
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Last Name:
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="user.surname" ngModel (keyup)="onKey($event)" (blur)="setDefault($event)">
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Email:
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="user.email" ngModel (keyup)="onKey($event)" (blur)="setDefault($event)">
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              PESEL:
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="user.pesel" ngModel (keyup)="onKey($event)" (blur)="setDefault($event)">
            </div>
          </div>
        </li>
      </ul>
      <button class=" mt-3 btn btn-success" *ngIf="!visibility" (click)="saveNewData()">Save data</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>




